header {
    width: 100%;
    padding: 10px 8%;
    background-color: var(--c-dark);
    z-index: 3;
    position: fixed; 
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}


header.scrolled {
    padding: 5px 8%; 
}

img{
    max-width: 15%;
    height: auto;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header.scrolled img {
    opacity: 0; 
    transform: scale(0); 
}

.navbar {
    background-color: var(--c-dark);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

header.scrolled .navbar {
    height: 50px;
}

.navbar .nav-link {
    color: var(--c-brand);
    font-weight: 600;
    display: flex;
    list-style: none;
    gap: 48px;
}

.navbar .nav-link.active{
    color: var(--c-brand-light);
}