:root {
    --c-dark: #580728; /* Cor principal escura */
    --c-brand: #DCC6AF; /* Cor clara de destaque */
    --c-brand-light: #E9DBC8; /* Variante mais clara da cor de destaque */
    --c-brand-hover: #7A0A36; /* Cor para hover em botões */
    --c-body: #1F0E10; /* Cor para texto principal */
    --c-text-secondary: #785356; /* Cor para texto secundário */
    --c-bg-light: #F9F4EF; /* Fundo claro */
    --c-border: #D6C3B5; /* Cor para bordas suaves */
    --font-base: Arial, sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-brand-light);
    background-color: var(--c-brand-light);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.btn-default,
.navbar-toggler {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-brand);
    color: var(--c-body);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    white-space: nowrap;
}